


.logo{
  width: 200px;
  height: 200px;

}
.site-content , .App {
  background-color: black;
  min-height: 100vh;
 
 
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}


